extends _layout.pug

block var
	-var url = '../'
	-var link = ''

block title
	title 分頁

block css

block js

//---------------------------內容區Start---------------------------
block content


//---------------------------內容區End---------------------------